* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/*Search bar*/
.search_bar {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}
.search_bar .found {
  margin-left: 50px;
}
.search_bar .search_input {
  margin-right: 50px;
}


/*Header countries*/
.header_countries {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}
.header_countries .header_name {
  margin-left: 50px;
}
.header_countries .header_population {
  margin-right: 50px;
}

/*Countries container*/
.countries_container {
  padding: 10px 0px;
}
.countries_container .country_row {
  display: flex;
  justify-content: space-between;
}
.countries_container .country_row .country_name {
  margin-left: 50px;
}
.countries_container .country_row .country_population {
  margin-right: 50px;
}